.heart {
    background-color: red;
    height: 70px;
    width: 70px;
    position: relative;
    top: 80px;
    left: 80px;
    transform: rotate(-45deg);
    box-shadow: -5px 10px 90px red;
    animation: untoldcoding 0.8s linear infinite;
  }
  
  @keyframes untoldcoding {
    0% {
      transform: rotate(-45deg) scale(1.05);
    }
    70% {
      transform: rotate(-45deg) scale(1);
    }
    100% {
      transform: rotate(-45deg) scale(0.8);
    }
  }
  .heart:before {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: red;
    top: -40px;
    border-radius: 50px;
  }
  .heart:after {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: red;
    right: -40px;
    border-radius: 50px;
  }
  h1{
    padding-left: 13rem;
    width: 89%;
  }
  P{
    font-size: 28px;
    text-align: center;
    padding-left: 8rem;
    width: 110%;
  }